<ion-content class="ion-padding">
    <h2>Customer Details</h2>
    <ion-card>
        <ion-row style="font-weight: bold;" class="header">
            <ion-col size=".5">
                S.No
            </ion-col>
            <ion-col size="0.9">
                Customer Id
            </ion-col>
            <ion-col size="1.1">
                Customer Name
            </ion-col>
            <ion-col size="1.2">
                Guarantor Name
            </ion-col>
            <ion-col size="0.6">
                Address
            </ion-col>
            <ion-col size="1">
                Mobile No
            </ion-col>
            <ion-col size="1">
                Aadhar No
            </ion-col>
            <ion-col size="0.9">
                Attachment
            </ion-col>
            <ion-col size="0.8">
                Created By
            </ion-col>
            <ion-col size="1.5">
                Date Of Created
            </ion-col>

            <ion-col size="0.9">
                Referred By
            </ion-col>
         
        </ion-row>
    </ion-card>
    <ion-card *ngFor="let item of _data; let i = index" id="trigger-button{{i}}">
        <ion-row class="header">
            <ion-col size=".5">
                {{ i + 1 }}
            </ion-col>
            <ion-col size="0.9">
                {{ item.customerId }}
            </ion-col>
            <ion-col size="1.1">
                {{ item.customerName }}
            </ion-col>
            <ion-col size="1.2">
                {{ item.guarantorName }}
            </ion-col>
            <ion-col size="0.6">
                {{ item.address }}
            </ion-col>
            <ion-col size="1">
                {{ item.mobileNumber }}
            </ion-col>
            <ion-col size="1">
                {{ item.aadharNumber }}
            </ion-col>
            <ion-col size="0.9">
                {{ item.fileUpload }}
            </ion-col>
            <ion-col size="0.8">
                {{ item.createdBy }}
            </ion-col>
            <ion-col size="1.5">
                {{ item.dateOfCreated }}
            </ion-col>
            <ion-col size="0.9">
                {{ item.referredBy }}
            </ion-col>
            <!-- <ion-col size="0.6">
                <ion-button id="trigger-button{{i}}"  size="small" fill="outline">
                    <ion-icon name="color-wand-outline"></ion-icon>
                </ion-button>
            </ion-col> -->
           
        </ion-row>
    </ion-card>
    <div *ngFor="let item of _data; let i = index;">
        <ion-modal trigger="trigger-button{{i}}">
            <ng-template>
                <ion-grid>

                    <form [formGroup]="updateForm">
                        <ion-row>
                            <ion-col>
                                <ion-button id="trigger-button{{i}}" (click)="changeStatus()"
                                    size="small" fill="outline">
                                    <ion-icon name="color-wand-outline"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button id="trigger-button{{i}}"  (click)="deleteCustomer(item.customerId)" color="danger"
                                    size="small" fill="outline">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Customer Id</ion-label>
                                    <ion-input type="text" disabled [(ngModel)]="item.customerId"
                                        formControlName="customerId" placeholder=""></ion-input>
                                    
                                </ion-item>

                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Customer Name</ion-label>
                                    <ion-input type="text"  [disabled]="isDisabled"[(ngModel)]="item.customerName"
                                        formControlName="customerName" placeholder=""></ion-input>
                                       
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['customerName'].valid && 
                                updateForm.controls['customerName']?.touched"> Name is required *</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Guarantor Name</ion-label>
                                    <ion-input type="text" [disabled]="isDisabled" [(ngModel)]="item.guarantorName"
                                        formControlName="guarantorName" placeholder=""></ion-input>
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['guarantorName'].valid && 
                                updateForm.controls['guarantorName']?.touched"> Father/Husband name is required
                                    *</span>
                            </ion-col>

                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Address</ion-label>
                                    <ion-textarea type="text" [disabled]="isDisabled" [(ngModel)]="item.address"
                                        formControlName="address" placeholder="Enter Address..."></ion-textarea>
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['address'].valid && 
                                updateForm.controls['address']?.touched"> Address is required *</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Mobile No</ion-label>
                                    <ion-input type="tel" [disabled]="isDisabled" [(ngModel)]="item.mobileNumber"
                                        formControlName="mobileNumber" placeholder="" minlength="10" maxlength="10"
                                        (keydown)="validateNumber($event)">
                                    </ion-input>
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['mobileNumber'].valid && 
                                updateForm.controls['mobileNumber']?.touched"> Mobile number is required *</span>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Adhaar Number</ion-label>
                                    <ion-input type="tel" [disabled]="isDisabled" [(ngModel)]="item.aadharNumber"
                                        formControlName="aadharNumber" placeholder="" minlength="12" maxlength="12"
                                        (keydown)="validateNumber($event)">
                                    </ion-input>
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['aadharNumber'].valid && 
                                updateForm.controls['aadharNumber']?.touched"> Aadhar number is required *</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Referred By</ion-label>
                                    <ion-input type="text" [disabled]="isDisabled" [(ngModel)]="item.referredBy"
                                        formControlName="referredBy" placeholder=""></ion-input>
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['referredBy'].valid && 
                                  updateForm.controls['referredBy']?.touched"> Aadhar number is required *</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines=none>
                                    <ion-label position="stacked">File Upload</ion-label>
                                    <ion-input type="file" [(ngModel)]="item.fileUpload" formControlName="fileUpload"
                                        accept="application/pdf" (change)="uploadcandidateFile($event)" placeholder="">
                                    </ion-input>
                                </ion-item>
                            </ion-col>

                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Created By</ion-label>
                                    <ion-input type="text" [disabled]="isDisabled" [(ngModel)]="item.createdBy"
                                        formControlName="createdBy" placeholder=""></ion-input>
                                </ion-item>
                                <span class="text-danger" *ngIf="!updateForm.controls['createdBy'].valid && 
                                  updateForm.controls['createdBy']?.touched"> Select anyone user *</span>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label position="stacked">Created Date</ion-label>
                                    <ion-input type="text" [disabled]="isDisabled" [(ngModel)]="item.dateOfCreated"
                                        formControlName="dateOfCreated" placeholder=""></ion-input>
                                </ion-item>
                                <!-- <span class="text-danger" *ngIf="!updateForm.controls['dateOfCreated'].valid && 
                                  updateForm.controls['dateOfCreated']?.touched"> Name is required *</span> -->
                            </ion-col>
                        </ion-row>
                        <ion-row>
                           
                            <ion-col>
                                <ion-button class="saveButton" color="tertiary" type="submit" [disabled]="isDisabled"
                                    (click)="updateCustomer()">Save</ion-button>
                            </ion-col>
                        </ion-row>
                    </form>
                </ion-grid>
            </ng-template>
        </ion-modal>
    </div>
</ion-content>