
.tables{
  padding:1.5rem;
  
}
ion-card{
 padding: 1rem;
  // width: 400px;
  background-color: #f7f7f7;
  margin: auto;
  // border-radius: 5rem;
  box-shadow: 0px 3px 8px 3px rgb(0 0 0 / 14%);
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
  text-align: center
}
