<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Edit Entity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">

    <ion-grid class="main-grid">

      <ion-row class="main-row">

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">Serial No: {{item.serialNumber}}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">User: {{item.user}} </ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">Workstation: {{item.workStation}} </ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">Date: {{item.createdDateTime | date:'shortDate' }}</ion-label>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Batch Number" [(ngModel)]="item.batchNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">Shifts: <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select interface="popover" placeholder="Select shift" [(ngModel)]="item.shift">
              <ion-select-option value="{{s}}" *ngFor="let s of _shitfs">{{s}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        

      </ion-row>

      <ion-row class="main-row">

        <ion-col>
          <ion-item class="main-item">
            <ion-label position="floating">Type Of Formers<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select interface="popover" placeholder="Select former" [(ngModel)]="item.typeOfFormer">
              <ion-select-option value="{{f}}" *ngFor="let f of _typeOfFormers">{{f}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Size<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select interface="popover" placeholder="Select size" [(ngModel)]="item.size">
              <ion-select-option value="{{s}}" *ngFor="let s of _Size">{{s}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="main-item">
            <ion-label position="floating">Factory<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select interface="popover" placeholder="Select factory" [(ngModel)]="item.factory">
              <ion-select-option value="{{fa}}" *ngFor="let fa of _factory">{{fa}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="main-item">
            <ion-label position="floating">Firing / Re-Work </ion-label>
            <ion-select interface="popover" placeholder="Select Firing / Re-Work" [(ngModel)]="item.firingOrRework">
              <ion-select-option value="{{fr}}" *ngFor="let fr of _firingOrRework">{{fr}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Notes" [(ngModel)]="item.notes"></ion-input>
          </ion-item>
        </ion-col>        
      </ion-row>
      <ion-row class="main-row">
        <ion-col *ngFor="let d of _defetcs" size="3">
          <ion-button expand="full" size="large" color="warning" (tap)="reject(d)">{{d}}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="main-row">

        <ion-col>
          <ion-button expand="full" size="large" color="primary" (tap)="accept()">Accept</ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-item>


</ion-content> -->