
.tables{
  padding:1.5rem;
  
}
ion-card{
 padding: 1rem;
  // width: 400px;
  background-color: #f7f7f7;
  margin: auto;
  // border-radius: 5rem;
  box-shadow: 0px 3px 8px 3px rgb(0 0 0 / 14%);
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
  text-align: center
}
.scrollbar
{
  height: 600px;
  overflow-y: scroll;
  margin-top:3rem;
}

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}


#style-1::-webkit-scrollbar
{
    width: 8px;
    // height:3px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #22577E;
}
ion-icon{
font-size: 1.5rem;
}
ion-card.selectable:hover {
 --background-color: #c0aaa0 !important;
}