<ion-content class="ion-padding">
  <ion-button style="float:right;" (click)="onClickAdd()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
<ion-content class="ion-padding">
  <h2>Product Details</h2>
  <ion-card>
      <ion-row style="font-weight: bold;" class="header">
          <ion-col size=".5">
              S.No
          </ion-col>
          <ion-col size="0.9">
              Product Id
          </ion-col>
          <ion-col size="1.1">
              Product Name 
          </ion-col>
          <ion-col size="1.2">
              Product Type
          </ion-col>
          <ion-col size="0.6">
              Tenure
          </ion-col>
          <ion-col size="1">
              Quantity
          </ion-col>
          <ion-col size="1">
              Price
          </ion-col>
        
      </ion-row>
  </ion-card>
  <ion-card *ngFor="let item of productDetails; let i = index" id="trigger-button{{i}}" class="selectable">
      <ion-row class="header">
          <ion-col size=".5">
              {{ i + 1 }}
          </ion-col>
          <ion-col size="0.9">
              {{ item.productId }}
          </ion-col>
          <ion-col size="1.1">
              {{ item.productName }}
          </ion-col>
          <ion-col size="1.2">
              {{ item.productType}}
          </ion-col>
          <ion-col size="0.6">
              {{ item.productTenure }}
          </ion-col>
          <ion-col size="1">
              {{ item.numberOfCustomers }}
          </ion-col>
          <ion-col size="1">
              {{ item.price }}
          </ion-col>
          
      </ion-row>
  </ion-card>
  <div *ngFor="let item of productDetails; let i = index;">
      <ion-modal trigger="trigger-button{{i}}">
          <ng-template>
              <ion-grid>

                  <form [formGroup]="updateForm">
                      <ion-row>
                          <ion-col>
                              <ion-button id="trigger-button{{i}}" (click)="changeStatus()"
                                  size="small" fill="outline">
                                  <ion-icon name="color-wand-outline"></ion-icon>
                              </ion-button>
                          </ion-col>
                          <ion-col >
                            <ion-button  (click)="deleteProduct(item.productId)" color="danger"
                                size="small" fill="outline">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <ion-item lines="none">
                                  <ion-label position="stacked">Product Id</ion-label>
                                  <ion-input type="text" disabled [(ngModel)]="item.productId"
                                      formControlName="productId" placeholder=""></ion-input>
                                  
                              </ion-item>

                          </ion-col>
                          <ion-col>
                              <ion-item lines="none">
                                  <ion-label position="stacked">Product Name</ion-label>
                                  <ion-input type="text"  [disabled]="isDisabled"[(ngModel)]="item.productName"
                                      formControlName="productName" placeholder=""></ion-input>
                                     
                              </ion-item>
                              <span class="text-danger" *ngIf="!updateForm.controls['productName'].valid && 
                              updateForm.controls['productName']?.touched"> Name is required *</span>
                          </ion-col>
                      </ion-row>
                       <ion-row>
                          <ion-col>
                              <ion-item lines="none">
                                  <ion-label position="stacked">Product Type</ion-label>
                                  <ion-input type="text" [disabled]="isDisabled" [(ngModel)]="item.productType"
                                      formControlName="productType" placeholder=""></ion-input>
                              </ion-item>
                              <span class="text-danger" *ngIf="!updateForm.controls['productType'].valid && 
                              updateForm.controls['ProductType']?.touched"> Father/Husband name is required
                                  *</span>
                          </ion-col>

                          <ion-col>
                              <ion-item lines="none">
                                  <ion-label position="stacked">Tenure</ion-label>
                                  <ion-input type="number" [disabled]="isDisabled" [(ngModel)]="item.productTenure"
                                      formControlName="productTenure" placeholder="" maxlength="2" (keydown)="validateNumber($event)"></ion-input>
                              </ion-item>
                              <span class="text-danger" *ngIf="!updateForm.controls['productTenure'].valid && 
                              updateForm.controls['productTenure']?.touched"> Address is required *</span>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <ion-item lines="none">
                                  <ion-label position="stacked">Quantity</ion-label>
                                  <ion-input type="number" [disabled]="isDisabled" [(ngModel)]="item.numberOfCustomers"
                                      formControlName="numberOfCustomers" placeholder="" (keydown)="validateNumber($event)">
                                  </ion-input>
                              </ion-item>
                              <span class="text-danger" *ngIf="!updateForm.controls['numberOfCustomers'].valid && 
                              updateForm.controls['numberOfCustomers']?.touched"> Mobile number is required *</span>
                          </ion-col>
                          <ion-col>
                              <ion-item lines="none">
                                  <ion-label position="stacked">Price</ion-label>
                                  <ion-input type="number" [disabled]="isDisabled" [(ngModel)]="item.price"
                                      formControlName="price" placeholder="" 
                                      (keydown)="validateNumber($event)">
                                  </ion-input>
                              </ion-item>
                              <span class="text-danger" *ngIf="!updateForm.controls['price'].valid && 
                              updateForm.controls['price']?.touched"> Aadhar number is required *</span>
                          </ion-col>
                      </ion-row>
                 
                        <ion-row>
                          <ion-col>
                              <ion-button class="saveButton" color="tertiary" type="submit" [disabled]="isDisabled"
                                  (click)="updateProduct()">Save</ion-button>
                          </ion-col>
                      </ion-row>
                  </form>
              </ion-grid>
          </ng-template>
      </ion-modal>
  </div>
</ion-content>