 <ion-content [fullscreen]='true' padding>


  <div class='login-card'>
    
    
    <img slot='start' src='../../../assets/icon/favicon.png' />
    

    <form (ngSubmit)='doLogin()' [formGroup]='loginForm' padding>

      <ion-input required type='text' placeholder='Username' name='username' formControlName='userName'>
        <ion-icon name='person-outline'></ion-icon>
      </ion-input>

      <ion-input style="margin-top: 1rem" required type='password' placeholder='Password' name='username'
        formControlName='userName'>
        <ion-icon name='desktop-outline'></ion-icon>
      </ion-input>
      <div style="margin-top: 1rem; float:right">
        <ion-button type="submit">Login</ion-button>
      </div>


    </form>
  </div>


</ion-content> 